
{% extends "layout.html" %}
{% block content %}
<div class="home">
  <h1> Pranjali Madur</h1>
  <h2>MS Electrical Engineering</h2>
  <h3>Internship- Mnaufacturing Engineer Intern at PROCEPT BioRObotics</h3>
  <p>I have worked in embedded system sporoject and created pulse generator circuit using embedded c and ARM processor</p>
  <p>I have also developed a rework process specifying troubleshooting steps and anayzing potential failures in the final
    inspection process</p>
</div>
{% endblock %}
